@import 'src/styles/variables.scss';

.tableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;

  .table {
    padding: 10px;

    .cellWrapper {
      display: flex;
      align-items: center;

      .image {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
      }
    }

    .tableCell {
      text-align: center;

      .action {
        display: flex;
        justify-content: space-around;
      }

      .status {
        padding: 5px;
        border-radius: 5px;
        outline: none;
        border: none;
        cursor: pointer;

        &.update {
          color: green;
          background-color: rgb(0 128 0 / 15.1%);
        }

        &.remove {
          color: $color-danger;
          background-color: rgb(211 19 5 / 10.3%);
        }
      }
    }
  }
}
