@import 'src/styles/variables.scss';

.rating {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    background: $color-background;
    font-size: 12px;
    border: 1px solid $color-border-rating;
    border-radius: 50px;
    cursor: pointer;
    width: 30px;
    height: 30px;

    &:hover,
    &.active {
      background: $color-border-rating;
      color: $color-text-contrast;
    }
  }
}
