.filterPanel {
  .filter {
    margin-bottom: 20px;

    p {
      font-size: 16px;
      font-weight: bold;
    }

    .rangeTitle {
      margin-bottom: 40px;
    }

    .ratingTitle {
      margin-bottom: 20px;
    }
  }

  .filterBtn {
    display: flex;
    justify-content: center;
  }
}
