@import 'src/styles/variables.scss';

.modalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: $color-background;
  padding: 20px 40px;
  border-radius: 20px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: none;

  form {
    background-color: $color-background;
    padding: 0 60px;
    border-radius: 10px;

    .formFileInput {
      display: flex;
      flex-direction: column;

      input {
        padding: 5px;
        margin: 5px 0;
        border-radius: 5px;
        border: 1px solid $color-border-muted;
        outline: none;
      }

      label {
        font-size: 12px;
        color: $color-text-muted;
      }

      p {
        font-size: 12px;
        padding: 3px;
        color: $color-danger;
      }
    }
  }
}
