@import 'src/styles/variables.scss';

.search {
  display: flex;
  align-items: center;
  border: 0.5px solid $color-border-light-muted;
  padding: 3px;

  input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;

    &::placeholder {
      font-size: 12px;
    }
  }
}
