@import 'src/styles/variables.scss';

.formInput {
  display: flex;
  flex-direction: column;
  width: 280px;

  input {
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid $color-border-muted;
    outline: none;
  }

  label {
    font-size: 12px;
    color: $color-text-muted;
  }

  span {
    font-size: 12px;
    padding: 3px;
    color: $color-danger;
    display: none;
  }

  .focused:not(:focus):invalid {
    border: 1px solid $color-danger;
  }

  .focused:not(:focus):invalid ~ span {
    display: block;
  }
}
