@import 'src/styles/variables.scss';

.modalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: $color-background;
  padding: 40px;
  border-radius: 20px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: none;

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    .btn {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
