@import 'src/styles/variables.scss';

.home {
  display: flex;
  flex-direction: column;

  .homeFiltersContainer {
    display: flex;
    position: relative;

    .homeFilters {
      padding: 20px 30px;
      flex: 1;
      border-right: 1px solid $color-border-light-muted;
      height: 100vh;
      position: sticky;
      top: 0;
    }

    .homeTable {
      flex: 6;
    }
  }
}

.modalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: $color-background;
  padding: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
